<div class="card-container"  style="color: black;">
    
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>  <br> <br>  <br> <br> <br> <br> <br> <br> <br> <br> <!-- Add a new line here -->
    <h2>Resume Processing System</h2>
    <br> <!-- Add a new line here -->
    <form>
        <div class="form-group">
          <label for="jobRequirements">Job Requirements/Skills:</label>
          <textarea id="jobRequirements" name="jobRequirements" [(ngModel)]="jobRequirements" rows="5"></textarea>
        </div>
        <div class="form-group">
          <label for="resumeFile">Upload Resumes:</label>
          <input type="file" id="resumeFile" name="resumeFile" (change)="onFilesSelected($event)" multiple />
        </div>
        <button class="submit-button" (click)="uploadResume()">Submit</button>
      </form>
      
      <div *ngIf="results.length > 0" class="results-container">
        <h3>Matching Candidates:</h3>
        <table>
          <thead>
            <tr>
              <th>Candidate</th>
              <th>Match</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let result of results" [ngClass]="{'match': result.similarity === 1, 'no-match': result.similarity !== 1}">
              <td>{{ result.candidate }}</td>
              <td>{{ result.similarity === 1 ? 'Matches' : 'Doesn\'t Match' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  
  
  
  
  
  